<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .comments {
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <div>
        <% if(typeof(errors) != 'undefined' ) { %>
            <h3>Here are the un-awesome errors!</h3>
            <% for (var x in errors) { %>
                <h3><%= errors[x].message %></h3>
            <% } %>
        <% } %>
    </div>

    <div>
        <h1>Welcome to QuotingDojo</h1>
        <form action="/posts/" method="post">
            Name: <input type="text" name="name">
            Message: <textarea name="text"></textarea>
            <input type='submit' value='Post Message'>
        </form>
    </div>

    <div>
        <% if(typeof(postData) != 'undefined' ) { %>
            <% for (var x in postData) { %>
                <h4>Name: <%= postData[x].name %></h4>
                <h4>Message: <%= postData[x].text %></h4>
                <div class="comments">
                    <% for (var comment of postData[x].comments) { %>
                        <h4>Name: <%= comment.name %></h4>
                        <h4>Message: <%= comment.text %></h4>
                    <% } %>
                    <form action="/comments/<%= postData[x]._id %>" method="post">
                        Name: <input type="text" name="name">
                        Comment: <textarea name="text"></textarea>
                        <input type='submit' value='Post Comment'>
                    </form>
                </div>
                <hr>
            <% } %>
        <% } %>
    </div>


</body>
</html>